$size--font-metadata-post:              1.4rem;
$size--font-title-post:                 3.6rem;
$color--headings-post:                  $color--accent;
$size--font-post-content:               1.6rem;
$size--blockquote-font:                 2.0rem;
$size--blockquote-font-big:             3.0rem;
$size--font-tags:                       1.4rem;

.blog-post-section {
  padding: 0;


  &-container {
    background-color: $white;
    padding: $pad*6 $pad*4;
  }
}

.post {

  &-comments {
    margin-top: $space*6;
  }

  &-tags {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: $space*6;

    @media #{$from-small-resolutions} {
      width: 70%;
    }

    @media #{$from-medium-resolutions} {
      width: 50%;
    }
  }

  &-tag {
    background-color: $color--accent;
    display: inline-block;
    border-radius: 2px;
    color: $antiflash-white;
    padding: $half-pad;
    font-size: $size--font-tags;
    margin: $space-half 2px;
  }

  &-content {
    font-size: $size--font-post-content;

    img {
      max-width: 100%;
    }

    blockquote {
      border-left: 8px solid $color--tertiary;
      padding-top: $pad;
      padding-bottom: $pad;

      p {
        font-size: $size--blockquote-font;
        color: $color--headings-post;
        font-weight: bold;

        @media #{$from-small-resolutions} {
          font-size: $size--blockquote-font-big;
        }
      }
    }
  }

  &-metadata-details {
    font-size: $size--font-metadata-post;
    color: $color--headings-post;

    p {
      margin: 0;
    }
  }

  &-title {
    h1 {
      padding-top: $pad-double;
      font-size: $size--font-title-post;
      color: $color--headings-post;
      font-weight: bold;
    }
  }
}
