/shared
/local-config.php
/sql-dump-*.sql
/db-sync
/content/upgrade/
.DS_Store
/node_modules
/content/plugins/crelly-slider/
/content/plugins/fakerpress/
/content/plugins/siteorigin-panels/
/content/plugins/so-widgets-bundle/
/content/uploads/*
/content/themes/hashcore/assets/styles/main.css
