<section class="content-section content-section-full project-section">
  <div class="container">
    <div class="content-section-container">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="project-title">
            <h1 class="project-title-heading">{{ page.title }}</h1>
          </div>
          <div class="project-summary">
            <p>{{ page.summary }}</p>
          </div>
          <div class="calltoaction-btn">
            {% include calltoaction-btn.html %}
          </div>
          <div class="project-details">
            <h4 class="project-details-header">Detalles del Proyecto</h4>
            <ul class="items-list">
              {% for item in page.project_details %}
              <li><span>{{ item }}</span></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="project-content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
