$size--site-footer-height-mobile:            $size--site-footer-height-mobile;
$size--site-footer-height-desktop:           $size--site-footer-height-desktop;
$size--site-wrapper--padding-top: 					 $size--header-height + $space*2;

.site-wrapper {
	padding-top: $size--site-wrapper--padding-top;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto (-$size--site-footer-height-mobile);

	@media screen and (min-width: $bootstrap-sm) {
    margin-bottom: (-$size--site-footer-height-desktop);
  }
}
