// -----------------------------------------------------------------------------
// $COLOR-VARIABLES
// -----------------------------------------------------------------------------

$aluminium:                     #989898;
$black:                         #000000;
$concrete:                      #F2F2F2;
$custom-black:                  #333333;
$hint-of-red:                   #FAFAFA;
$gray:                          #CFD8DC;
$kelly-green:                   #46B300;
$mirage:                        #100F2A;
$lime:                          #85C92A;
$lily-white:                    #ECECEC;
$red:                           #F7412D;
$lust:                          #EC2811;
$crayon-orange:                 #FF5C1F;
$violet:                        #A100B7;
$white:                         #FFFFFF;

$yummly:                        #D36911;
$real-scout:                    #488EDD;


// -----------------------------------------------------------------------------
// $USABLE-COLORS
// -----------------------------------------------------------------------------

$color--base:                   $white;
$color--tertiary:               $mirage;
$color--accent:                 $crayon-orange;
$color--text:                   $black;

$color--error:                  $lust;
$color--success:                $lime;
