<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="site-footer-logo">
          <a href="#" rel="home">
            <img src="/images/alfacent-logo-alternative.png" class="custom-logo" alt="alternative-logo" />
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 hidden-xs">
        <div class="site-footer-menu-wrapper">
          <div class="menu-navbar-container">
            <ul class="site-footer-menu">
              {% include navigation_links.html %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <!-- social links -->
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <span class="site-footer-copy">{{ 'now' | date: "%Y" }}<i class="fa fa-copyright" aria-hidden="true"></i>  Alfacent By Hash Labs </span>
      </div>
    </div>
  </div>
</footer>
