<nav class="navigation">
  <div id="site-nav-mobile" class="site-nav-mobile-wrapper">
    <div class="site-nav-mobile">
      <div class="menu-navbar-container">
        <ul id="menu-mobile" class="menu">
          {% include navigation_links.html %}
        </ul>
      </div>
    </div>
  </div>
  <div id="site-nav" class="site-nav animated">
  	<div class="container">
  		<div class="row">
  			<div class="col-xs-12 col-sm-3">
          <div class="header-branding">
            <a href="/" class="custom-logo-link" rel="home" itemprop="url">
              <img width="100" height="100" src="/images/alfacent-logo.png" class="custom-logo" alt="">
            </a>
  				</div>
          <div class="header-mobile-toggle pull-right visible-xs-inline-block">
            <button class="mobile-toggle">
    	        <span class="mobile-toggle-strip">Mobile Toggle</span>
    	      </button>
          </div>
  			</div>
  			<div class="col-sm-8 hidden-xs">
          <div class="header-menu-wrapper">
            <ul id="menu-desktop" class="menu">
              {% include navigation_links.html %}
            </ul>
          </div>
  			</div>
        <div class="col-sm-1 hidden-xs">
          <div class="header-search-wrapper pull-right">
            <div class="bottom-aligner"></div>
            <div class="header-search-toggle">
              <a class="header-search-toggle-icon" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
  		</div>
  	</div>
  </div>
</nav>

