<section class="post-preview post-preview-secondary">
  <div class="post-preview-date">
    <p>{% include posts/postdate.html date=post.date %} <span class="circle">&#9679;</span> Por Alfacent</p>
  </div>
  <div class="post-preview-title">
    <h4>{{ post.title }}</h4>
  </div>
  <div class="post-preview-separator"></div>
  <div class="post-preview-excerpt">
    <p>{{ post.excerpt }}</p>
  </div>
  <div class="post-preview-link">
    <a href="{{ post.url }}">Continua leyendo &#9656;</a>
  </div>
</section>
