<section class="content-section content-section-full posts-section">
  <div class="container content-section-white">
    <div class="row">
      <div class="col-xs-12">
        <div id="postsList">
          {% for post in paginator.posts %}
            {% include postpreview.html primary=true %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div>
          <ul class="pager">
          {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path }}" class="previous">Previous</a></li>
          {% else %}
            <li class="disabled"><span>Previous</span></li>
          {% endif %}
          {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path }}" class="next">Next</a></li>
          {% else %}
            <li class="disabled"><span>Next</span></li>
          {% endif %}
          </ul>
        </div>
        <div class="pagination-count">
          <span>Página: {{ paginator.page }} de {{ paginator.total_pages }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
