<section class="content-section content-section-secondary allies-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="header-text">Nuestros Aliados</h4>
        <div class="allies">
          <ul class="allies-lister">
            <li class="allies-item">
              <img src="/images/logo-danaven.png" alt="danaven-logo" />
            </li>
            <li class="allies-item">
              <img src="/images/logo-meier.png" alt="meier-logo" />
            </li>
            <li class="allies-item">
              <img src="/images/logo-lg.png" alt="lg-logo" />
            </li>
            <li class="allies-item">
              <img
                src="/images/logo-aplicaciones.png"
                alt="aplicaciones-tecnologicas-logo"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
