<section class="content-section content-section-secondary allies-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="header-text">Nuestros Aliados</h4>
        <div class="allies">
          <ul class="allies-lister">
            <li class="allies-item">
              <img src="/images/logo-danaven.png" alt="danaven-logo" />
            </li>
            <li class="allies-item">
              <img src="/images/logo-codelectra.png" alt="codelectra-logo" />
            </li>
            <li class="allies-item">
              <img src="/images/logo-ceramicas-carabobo.png" alt="ceramicas-carabobo-logo" />
            </li>
            <li class="allies-item">
              <img src="/images/logo-aplicaciones.png" alt="aplicaciones-tecnologicas-logo" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
