<section class="content-section services-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="hoverable-panel">
          <div class="hoverable-panel-img">
            <a href="#">
              <img src="/images/frontpage-services-bg.png" alt="services" />
            </a>
          </div>
          <div class="hoverable-panel-overlay-mobile">
            <a href="#">
              <p>Servicios</p>
            </a>
          </div>
          <div class="hoverable-panel-overlay-desktop hidden-xs">
            <a href="#">
              <p class="header">Servicios</p>
              <p class="text">{{ page.services-section.services }}</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="hoverable-panel">
          <div class="hoverable-panel-img">
            <a href="#">
              <img src="/images/frontpage-projects-bg.png" alt="projects" />
            </a>
          </div>
          <div class="hoverable-panel-overlay-mobile">
            <a href="#">
              <p>Proyectos</p>
            </a>
          </div>
          <div class="hoverable-panel-overlay-desktop hidden-xs">
            <a href="#">
              <p class="header">Proyectos</p>
              <p class="text">{{ page.services-section.projects }}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
