$color--overlay-transparent:            transparentize($color--accent, 0.21);
$size--font-overlay-mobile:             3.8rem;
$size--font-overlay-desktop-header:     3.0rem;
$size--font-panel-small:                2.0rem;
$size--font-overlay-desktop-text:       1.6rem;

.hoverable-panel {
  @include material-layer(2);
  position: relative;
  margin: $space*3 0;
  overflow: hidden;

  &-img {

    img {
      max-width: 100%;
      width: 100%;
    }
  }

  &:hover {
    .hoverable-panel-overlay-desktop {
      top: 40%;
    }
  }

  &.hoverable-panel-small {

    &:hover {
      .hoverable-panel-overlay-desktop {
        top: 50%;
      }
    }

    .hoverable-panel-overlay-desktop {
      top: 80%;

      .header {
        font-size: $size--font-panel-small;
      }
    }
  }

  @media #{$from-medium-resolutions} {
    &.hoverable-panel-small {
      &:hover {
        .hoverable-panel-overlay-desktop {
          top: 40%;
        }
      }

      .hoverable-panel-overlay-desktop {
        top: 75%;
      }
    }
  }

  @media #{$from-large-resolutions} {
    &.hoverable-panel-small {
      &:hover {
        .hoverable-panel-overlay-desktop {
          top: 55%;
        }
      }

      .hoverable-panel-overlay-desktop {
        top: 80%;
      }
    }
  }


  &-overlay-desktop {
    @include simple-transition();
    background-color: $color--overlay-transparent;
    position: absolute;
    padding: $pad-double;
    padding-bottom: $pad * 4;
    top: 73%;
    overflow: hidden;
    width: 100%;
    height: $space*20;

    .header, .text {
      color: $white;
      margin: 0;
      text-align: center;
    }

    .header {
      padding-top: 0;
      margin-bottom: $space-and-half;
      font-size: $size--font-overlay-desktop-header;
    }

    .text {
      font-size: $size--font-overlay-desktop-text;
      overflow: hidden;
    }
  }

  @media #{$from-medium-resolutions} {
    &:hover {
      .hoverable-panel-overlay-desktop {
        top: 60%;
      }
    }

    &-overlay-desktop {
      top: 80%;
    }
  }

  @media #{$from-large-resolutions} {
    &:hover {
      .hoverable-panel-overlay-desktop {
        top: 70%;
      }
    }

    &-overlay-desktop {
      top: 83%;
    }
  }

  &-overlay-mobile {
    background-color: $color--overlay-transparent;
    text-align: center;
    padding: 0 $pad-double;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:flex;
    align-items: center;
    justify-content:center;

    p {
      color: $white;
      position: relative;
      z-index: 1;
      margin: 0;
      font-size: $size--font-overlay-mobile;
    }
  }

  @media #{$from-small-resolutions} {
    margin: $space*4 0;

    &-overlay-mobile {
      display: none;
    }
  }
}

