.allies-lister {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;

  .allies-item {
    $items-per-row: 1;

    padding: $pad;
    width: 100% / $items-per-row;
    float: left;

    img {
      max-width: 100%;
      width: 60%;
    }

    @media #{$from-small-resolutions} {
      $items-per-row: 4;
      width: 100% / $items-per-row;

      img {
        width: 100%;
      }
    }
  }
}
